<h3>Getting Started with Couchbase Server and Ruby on Rails</h3><hr>

<p class="lead">
	Couchbase is a NoSQL Document Database that evolved from the brightest minds behind memcached, Membase Server and Apache CouchDB. If you are looking for 
	flexible data modeling, consistent high performance (sub-millisecond), easy scalability, and always-on 24x365, you've found the answer: Couchbase.
	This site covers all the steps to get setup and installed using Couchbase and Ruby on Rails!
</p>
<br /><br />
<a href="https://github.com/couchbaselabs/learningportal" target="_blank">Learning Portal Code with Ruby, Rails, Couchbase, & Elastic Search by McGraw Hill</a>
<br /><br />
<a href="http://www.couchbase.com/why-nosql/nosql-database" target="_blank">Great Summary on why NoSQL</a> and <a href="http://www.couchbase.com/sites/default/files/uploads/all/whitepapers/NoSQL-Whitepaper.pdf">PDF Version</a><br /><br />

<a href="http://www.couchbase.com/memcached" target="_blank">Replace your memcached tier with Couchbase</a><br /><br />




<br />
<h3>Order of Operations</h3><hr>
<br />
<ol id="site-instruction-list">
	<li>Install & Setup Couchbase Server
	<li>Install libcouchbase (the C Library native extension for couchbase gem)
	<li>Install Gem(s) and test your installations
	<li>Play with Couchbase in IRB
	<li>Setup a Rails Project without ActiveRecord
	<li>Create your first model
	<li>Learn more about modeling in NoSQL/Couchbase on <a href="http://couchbasemodels.com/">Couchbase Models</a>
</ol>

<br /><br />

<ul class="pager pager-override">
  <li class="next">
    <a href="/rails">Get Started: Install & Setup Couchbase Server &rarr;</a>
  </li>
</ul>

<h3>Resources to Read More about NoSQL and Couchbase</h3><hr>

<strong>*coming soon, will add links tonight*</strong>