#main_app-understand
  img
    padding: 12px
    margin: 10px 0px
    background: #999
    border: 2px solid #999
    -webkit-border-radius: 10px
    -moz-border-radius: 10px
    
  p
    font-size: 18px
    line-height: 28px
    color: #ddd
    font-family: Helvetica, Arial, sans-serif
    
  p.lead
    font-size: 24px
    line-height: 32px
    color: #eee
    font-family: Helvetica, Arial, sans-serif
    
#scaling-diagrams
  width: 100%
  img
    width: 600px !important
  .image
    width: 624px
  .spacing
    width: 30px
  .desc
    vertical-align: middle
    font-size: 19px
    line-height: 26px